{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="span6">
        <div class="page-header">
            <h1>{{ torrentRequest.title }}</h1>
        </div>

        {{ torrentRequest.description | nl2br }}

        <p>&nbsp;</p>
    </div>
    <div class="span3">
        <div class="infoBox downloadBox">
            <p>
                <a href="{{ path('torrent_upload') }}" class="btn btn-primary btn-large"><i class="icon-upload icon-white"></i> Upload Torrent</a>
            </p>

            <p>
                <a href="#" class="btn btn-large"><i class="icon-plus"></i> Request</a>
            </p>
        </div>
        <div class="infoBox statsBox">
            <span class="badge badge-success"><i class="icon-arrow-up icon-white"></i>5</span> Requests<br/>
        </div>
    </div>
    <div class="span3">
        <div class="well well-small">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Category</li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li class="nav-header">Category</li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
