{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
{{ form_errors(form) }}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create account</button>
    </div>
</form>
{% endblock content %}
