{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Change password</button>
    </div>
</form>
{% endblock content %}
