body {
    padding-top: 40px;
}

label.required {
    font-weight: bold;
}

a.btn:visited {
    color: #333;
}

a.btn-success:visited {
    color: #fff;
}

a.btn-primary:visited {
    color: #fff;
}

section {
    padding-top: 60px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.infoBox {
    margin-bottom: 20px;
}

.downloadBox {
    background-color: #DDEEF4;
    padding: 10px;
}

.downloadBox .btn {
    display: block;
    text-align: center;
}

.downloadBox form {
    margin: 0;
}

.downloadBox button.btn {
    width: 100%;
}

.navbar-inner {
    background-color: #005399;
    background-image: -webkit-linear-gradient(top, #005ba1, #003e75);
    background-image: -moz-linear-gradient(center top, #005ba1, #003e75);
    background-image: linear-gradient(top, #005ba1, #003e75);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #003e75;
}

.navbar .brand {
    color: #fff;
}

.navbar .nav > li > a {
    color: #fff;
}

.subheader {
    background-color: #007ae1;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px 0;
    color: #fff;
}

.full-search-bar {
    width: 72%;
    margin: 0 auto 38px;
    position: relative
}

.full-search-bar form {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden
}

.full-search-bar form .clearfix {
    margin: 0
}

.full-search-bar form input[type=text] {
    float: left;
    height: 30px;
    font-size: 20px;
    line-height: 24px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-right: 0;
    width: 95%;
    margin-bottom: 0
}

.full-search-bar form button[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 41px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0
}

.full-search-bar .search-input-item {
    padding: 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

.item-stream {
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

div.fos_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.fos_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}

div.fos_comment_comment_show {
    color: #555;
}

div.fos_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    padding: 0.3em 10px;
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.fos_comment_comment_body {
    line-height: 1.5em;
}

div.fos_comment_comment_replies {
    margin-left: 2em;
}

div.fos_comment_comment_reply {
    text-align: right;
}

div.fos_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
    display: none;
}

div.fos_comment_thread_comments {
    margin-bottom: 1.5em;
}

div.fos_comment_reply_prototype {
    display: none;
}

div.fos_comment_thread_show > form.fos_comment_comment_form {
    margin-bottom: 1em;
}

form.fos_comment_comment_form.processing {
    opacity: 0.5;
}

form.fos_comment_comment_form label.author_name {
    margin-top: 3px;
    float: left;
}

form.fos_comment_comment_form textarea,
form.fos_comment_comment_edit_form textarea,
form.fos_comment_comment_new_form textarea {
    width: 98%;
    height: 6em;
    padding: 1%;
}

form.fos_comment_comment_form.error textarea {
    border-color: red;
}

div.fos_comment_form_errors {
    background-color: #F2DEDE;
}

div.fos_comment_submit {
    text-align: right;
}

a.fos_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}

.page-header h1, div.torrentDescription {
    word-wrap: break-word;
}

div.torrentDescription {
    max-height: 700px;
    overflow-x: auto;
}