body {
    padding-top: 40px;
}

label.required {
    font-weight: bold;
}

a.btn:visited {
    color: #333;
}

a.btn-success:visited {
    color: #fff;
}

a.btn-primary:visited {
    color: #fff;
}

section {
    padding-top: 60px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.infoBox {
    margin-bottom: 20px;
}

.downloadBox {
    background-color: #DDEEF4;
    padding: 10px;
}

.downloadBox .btn {
    display: block;
    text-align: center;
}

.downloadBox form {
    margin: 0;
}

.downloadBox button.btn {
    width: 100%;
}

.navbar-inner {
    background-color: #005399;
    background-image: -webkit-linear-gradient(top, #005ba1, #003e75);
    background-image: linear-gradient(top, #005ba1, #003e75);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #003e75;
}

.navbar .brand {
    color: #fff;
}

.navbar .nav > li > a {
    color: #fff;
}

.subheader {
    background-color: #007ae1;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px 0;
    color: #fff;
}

.full-search-bar {
    width: 72%;
    margin: 0 auto 38px;
    position: relative
}

.full-search-bar form {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden
}

.full-search-bar form .clearfix {
    margin: 0
}

.full-search-bar form input[type=text] {
    float: left;
    height: 30px;
    font-size: 20px;
    line-height: 24px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-right: 0;
    width: 95%;
    margin-bottom: 0
}

.full-search-bar form button[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 41px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0
}

.full-search-bar .search-input-item {
    padding: 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

.item-stream {
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}


