body {
    padding-top: 40px;
}

label.required {
    font-weight: bold;
}

section {
    padding-top: 60px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.infoBox {
    margin-bottom: 20px;
}
.downloadBox {
    background-color: #DDEEF4;
    padding: 10px;
}

.downloadBox a {
    display: block;
    text-align: center;
}

.navbar-inner {
    background-color: #005399;
    background-image: -webkit-linear-gradient(top, #005ba1, #003e75);
    background-image: linear-gradient(top, #005ba1, #003e75);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #003e75;
}

.navbar .brand {
    color: #fff;
}

.navbar .nav > li > a {
    color: #fff;
}

.subheader {
    background-color: #007ae1;
    height: 50px;
    margin-bottom: 20px;
    padding: 20px 0;
    color: #fff;
}
