{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Torrent Requests</h1>
    <p>Would you like to download a torrent on I2P but aren't able to find it? Ask the community to upload it!</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
{% endblock content %}
