{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="hero-unit" style="text-align: center">
            <h1>Torrent Requests</h1>

            <p style="padding: 30px 0;">Upload a torrent from the regular internet and the community shall deliver.</p>

            <div>
                <div style="float:left; display:inline; width: 50%;text-align: center">
                    <a href="{{ path('torrent_list') }}" class="btn btn-primary btn-large btn-wide" style="width: 200px"> Seed a Torrent&nbsp;<i class="icon-upload icon-white"></i></a>

                </div>
                <div style="float:left; display: inline;width: 50%;text-align: center">
                    <a href="{{ path('torrent_upload') }}" class="btn btn-success btn-large" style="width: 200px">Request a Torrent&nbsp;<i class="icon-bullhorn icon-white"></i></a>
                </div>
                <br style="clear:both"/>
            </div>
        </div>
    </div>
    <div class="span3">

    </div>
</div>

{% endblock content %}
