{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Torrent Requests</h1>
</div>
<div class="row">
    <div class="span12">
        Members only...
    </div>
</div>
{% endblock content %}
