<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>An Error Occurred!</title>
    </head>
    <body>
        <h1>Oops! An Error Occurred</h1>
        <h2>{{ "now" | date("F jS \\a\\t g:ia") }}</h2>

        <div>
            Something is broken. Please find us on IRC and let us know
            what you were doing when this error occurred. We will fix it as soon
            as possible. Sorry for any inconvenience caused.
        </div>
    </body>
</html>
